<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>using plain html in pug</title> -->
    <title>#{title}</title>
</head>
    style
         include ../static/style.css
<body>
<nav>
    <ul>
        <li> <a href="">Home</a> </li>
        <li> <a href="">About</a> </li>
        <li> <a href="">Contact Us</a> </li>
    </ul>
</nav>
<div class="cont">

    <h2>Get this gym membership for 50$- Fill this form now!</h2>
    <!-- <p>
        | #{content}
        
        |  this is plain html as pug 
    </p> -->

    <form action="/" id="contact" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="age" placeholder="Enter your age">
        <input type="text" name="gender" placeholder="Enter your gender">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
        <textarea name="more" id="" cols="30" rows="10" placeholder="More about you..."></textarea>
<button class="btn">Submit</button>
    </form>
</div>
</body>
</html>